@import "./null.css";

body {
  background-color: #fff;
  user-select: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 14px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}