.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerOut {
  width: 100%;
  background-color: rgb(51, 52, 52);
}

.leftContent {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.leftContent span {
  font-weight: 400;
  font-size: 20px;
  color: rgb(217, 217, 217);
}

.leftWords {
  color: rgb(217, 217, 217);
  font-weight: 400;
  font-size: 20px;
  display: inline-flex;
  gap: 30px;
  margin-top: 20px;
flex-wrap: wrap;
}

.logo h3 {
  color: rgb(245, 245, 245);
  font-weight: 900;
  font-size: 40px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 70px;
}

.intBut {
  display: flex;
  gap: 5px;
}

.rightContent button {
  color: black;
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  width: 236px;
  height: 50px;
}

.rightContent input {
  border: 1px solid #fff;
  width: 309px;
  height: 50px;
  color: rgb(159, 161, 168);
}

.nets {
  display: flex;
  gap: 60px;
}

@media screen and (max-width:590px){

  .rightContent button {
    width: 150px;
    height: 50px;
  }
  
  .rightContent input {
    width: 150px;
  }
}
